$main-red: #A0272B;
$dark-red: #9A1A1F;
$light-grey: #e9e9e9;
$dark-grey: #C4C4C4;
$light-green: #228B22;

$body-padding: 80px;

$break-small: 576px;

html, body {
  height: 100%;
}

body {
  padding: $body-padding 20px 0 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.brand-link {
  text-decoration: none;
}

.button {
  margin: 3px;
  padding: 10px;
  font-size: 1.25em;
  border: none;
  border-radius: 5%;
  text-decoration: none;

  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.brand {
  background: $dark-red;
  color: $light-grey;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.main-red {
  background: $main-red;
}

.light-grey {
  background: $light-grey;
  color: $main-red;
}

.landing {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background: $light-grey;

  @media screen and (max-width: $break-small) {
    margin: 20px auto;
    min-height: 50vh;
    align-self: center;
    border-radius: 25px;
    width: 95%;
  }

  @media screen and (min-width: $break-small) {
    margin: 20px auto;
    min-height: 50vh;
    align-self: center;
    border-radius: 25px;
    width: 75%;
  }
}

.scoreboard {
  margin: 0 20px 0 20px;
  padding: 10px;
  position: absolute;
  height: calc(100% - #{$body-padding});
  display: flex;
  justify-content: stretch;

  .teams {
    display: flex;
    flex-direction: row;
  }
}

.team {
  border: $dark-grey solid 0.5px;
  width: 200px;
}

.scores:not(:last-child) {
  width: 100%;
  border-right: $dark-grey solid 0.5px;
}

.panel {
  background: $light-grey;
  display: flex;
  flex-direction: column;

  .header {
    min-height: 10%;
    padding: 2px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .players {
    font-size: 1em;
    font-weight: 600;
  }

  .items {
    height: 100%;
    display: flex;
    flex-direction: column;

    .item {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: auto;
      padding: 0 10px;
      width: 100%;
      text-align: center;
      border-top: $dark-grey solid 0.5px;
    }

    .cell {
      display: flex;
      align-items: center;

      .x {
        width: 125px;
        letter-spacing: 2px;
      }
    }
  }

  .score {
    font-size: 2em;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px){
  .panel{
    .items{
      min-height: 400px;
    }
    .score{
      font-size: 1.6em;
    }
  }
}

.team-form {
  display: flex;
  justify-content: flex-start;
  border-bottom: $dark-grey solid 0.5px;
  padding: 8px;

  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }

  @media screen and (min-width: $break-small) {
    flex-direction: row;
  }

  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;

    @media screen and (max-width: $break-small) {
      align-items: flex-start;
    }

    @media screen and (min-width: $break-small) {
      align-items: center;
    }
  }

  .players {
    display: flex;
    flex-direction: column;
    flex: 1;

    .existing-players {
      display: flex;
      justify-content: flex-start;
      padding: 5px;

      .existing-player {
        background: $dark-red;
        color: $light-grey;
        border-radius: 5%;
        margin-right: 5px;

        & i:hover {
          cursor: pointer;
        }
      }
    }

    .new-player {
      width: 100%;
      padding: 2px;

      @media screen and (max-width: $break-small) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
      }

      @media screen and (min-width: $break-small) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 1;

      }

      & > * {
        margin: 5px;
      }

      & input {
        display: flex;
        flex-grow: 1;
        justify-self: stretch;
      }
    }

    .error {
      display: flex;
      justify-content: flex-start;
    }
  }
}


button {
  &.dark-red {
    background: $dark-red;
    color: $light-grey;
  }

  &.dark-grey {
    background: $dark-grey;
  }

  &.add-player {
    @media screen and (max-width: $break-small) {
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    @media screen and (min-width: $break-small) {
      width: 135px;
      display: flex;
      flex-shrink: 0;
      justify-content: space-around;
      align-items: baseline;
    }

  }

  &.multiplier-button {
    width: 45px;
    margin: 2.5px;
  }

  &.add-team {
    width: 135px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 auto;
  }
}

span {
  &.add-player {
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}

.add-players {
  display: flex;
  flex-direction: column;
}

.submit-modal-buttons {
  display: flex;
  justify-content: center;

  & > * {
    margin: 10px 5px;
  }
}

.loading-dartboard {
  display: flex;
  margin: 50px auto;
  -webkit-animation: spin 2.0s ease-in-out infinite;
  animation: spin 2.0s ease-in-out infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(1080deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(1080deg); /* IE 9 */
    transform: rotate(1080deg); /* Firefox 16+, IE 10+, Opera */
  }
}

p {
  &.time {
    font-style: italic;
    font-size: 12px;
  }
}

.game-card {
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  @media screen and (min-width: $break-small) {
    width: 50%;
  }
  border: 1px solid $dark-grey;
  border-radius: 5px;
  padding: 15px;
  margin: 5px auto;
}

.game-card-body {
  display: flex;
  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }
  @media screen and (min-width: $break-small) {
    flex-direction: row;
  }
}

.card-teams {
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  @media screen and (min-width: $break-small) {
    width: 75%;
  }
}

.card-buttons {
  display: flex;
  @media screen and (max-width: $break-small) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  @media screen and (min-width: $break-small) {
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.card-button {
  margin: 0 0 10px;
}

.game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  flex-direction: column;
}

.score-button {
  color: $dark-grey;

  &:active {
    color: $main-red;
  }
}

.points-input {
  width: 100px;
  border: none;
  background: none;
  text-align: center;
  font-weight: 500;

  &:focus {
    background: #FFF;
  }
}

.team-scoreboard-input {
  border: none;
  background: none;
  text-align: center;
  resize: none;

  &:focus {
    background: #FFF;
  }
}


span {
  .closed {
    opacity: 0.25;
    color: $dark-red;
    text-decoration: line-through;
  }


  .open {
    color: $light-green;
  }
}

.new-game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: $dark-grey;
  animation-name: dark-to-light-text;
  animation-duration: 0.25s;


  &:hover {
    color: #000;
    animation-name: light-to-dark-text;
    animation-duration: 0.25s;
  }
}

@keyframes light-to-dark-text {
  from {
    color: $dark-grey;
  }
  to {
    color: #000;
  }
}

@keyframes dark-to-light-text {
  from {
    color: #000;
  }
  to {
    color: $dark-grey;
  }
}

.navbar-right-nav-section {
  margin-left: auto;
  .qr-code-item {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    svg {
      position: absolute;
      top: 0;
      right: 0;
    }
    transition: transform ease 0.3s;
    transform-origin: top right;
    transform: scale(0.25);
    &:hover {
      transform: scale(1);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -64px;
      width: 64px;
      height: 200px;
      background-color: $main-red;
    }
  }
}
